.custom-card{
  width:100%;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.custom-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius:20px;
}
/* Restaurantcard.css */


.custom-card:hover {
  transform: scale(0.90) ; /* Scale down to 95% of the original size */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
